<!--DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Course project constructor</title>


    <link href="../static/css/bootstrap.css" rel="stylesheet">



    <link href="../static/css/main.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/hover.zoom.js"></script>
    <script src="../static/js/hover.zoom.conf.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

    {% block head %}{% end %}
</head>

<body>

<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Course project constructor</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Courses</a></li>
                <li><a href="#">About</a></li>
                {% if not user %}
                <li><a href="/sign_in">Sign In</a></li>
                <li><a href="/sign_up">Sign Up</a></li>
                {% else %}
                    <li><a href="/google">My Files</a></li>
                    <li><a href="/sign_out">Sign Out</a></li>
                 <li>

                    <a href="/account">
                       <img class="circular-image account_img" src="{{ user['image_url'] }}"><img>
                    </a>

                </li>
                {% end %}

            </ul>
        </div
    </div>
</div>


<div class="content-wrapper">

    {% block content %}

    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                    {#                    <img src="../static/img/logo_nure.png" alt="Stanley">#}
                    <h1>Course project constructor</h1>
                    {% if user %}
                    <a href="www.nure.ua" target="_blank">
                       <img class="circular-image"  height="400px" src="../static/img/nure_photo.jpg"><img>
                    </a>
                    {% end %}
                    <p>Project info</p>

                </div>
            </div>
        </div>
    </div>

    {% end %}

</div>




{#<div class="container pt">#}
{#    <div class="row mt centered">#}
{#        <div class="col-lg-4">#}
{#            <a class="zoom green" href="work01.html"><img class="img-responsive" src="../static/img/portfolio/port01.jpg"#}
{#                                                          alt=""/></a>#}
{#            <p>APE</p>#}
{#        </div>#}
{#        <div class="col-lg-4">#}
{#            <a class="zoom green" href="work01.html"><img class="img-responsive" src="../static/img/portfolio/port02.jpg"#}
{#                                                          alt=""/></a>#}
{#            <p>RAIDERS</p>#}
{#        </div>#}
{#        <div class="col-lg-4">#}
{#            <a class="zoom green" href="work01.html"><img class="img-responsive" src="../static/img/portfolio/port03.jpg"#}
{#                                                          alt=""/></a>#}
{#            <p>VIKINGS</p>#}
{#        </div>#}
{#    </div>>#}
{#    <div class="row mt centered">#}
{#        <div class="col-lg-4">#}
{#            <a class="zoom green" href="work01.html"><img class="img-responsive" src="../static/img/portfolio/port04.jpg"#}
{#                                                          alt=""/></a>#}
{#            <p>YODA</p>#}
{#        </div>#}
{#        <div class="col-lg-4">#}
{#            <a class="zoom green" href="work01.html"><img class="img-responsive" src="../static/img/portfolio/port05.jpg"#}
{#                                                          alt=""/></a>#}
{#            <p>EMPERORS</p>#}
{#        </div>#}
{#        <div class="col-lg-4">#}
{#            <a class="zoom green" href="work01.html"><img class="img-responsive" src="../static/img/portfolio/port06.jpg"#}
{#                                                          alt=""/></a>#}
{#            <p>CHIEFS</p>#}
{#        </div>#}
{#    </div>#}
{#</div>#}




<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Address</h4>
                <p>
                    pr. Lenina 14,<br/>
                    +38 091 902 14 74, <br/>
                    Kharkiv, Ukraine.
                </p>
            </div>

            <div class="col-lg-4">
                <h4>Social networks</h4>
                <p>
                    <a href="#">Vk</a><br/>
                    <a href="#">Twitter</a><br/>
                    <a href="#">Facebook</a>
                </p>
            </div>

            <div class="col-lg-4">
                <h4>About us</h4>
                <p>Some information about creators</p>
            </div>

        </div>

    </div>
</div>

{% block bottom_scripts %}{% end %}
<!-- Bootstrap core JavaScript
==================================================
<!-- Placed at the end of the document so the pages load faster
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>-->

{% extends 'BaseTemplate.html' %}
{% set active_page = 'account_info' %}

{% block title %}Account info{% end %}


{% block content %}

{% end %}


{% block bottom_scripts %}

{% end %}